body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../trial/img/reser_admin.jpg'); /* Usa la imagen que subiste */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Mantén la imagen fija mientras se desplaza la página */
}

header {
    background-color: rgba(27, 38, 141, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

a {
    color: #1b268d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(27, 38, 141, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 10px; /* Ajusta para evitar que el footer cubra la imagen de fondo */
}
